@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
*{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
}
a{
     font-family: 'Roboto';
     font-weight: 400;
}
.container{
     display: flex;
     flex-direction: column;
     align-items: center;
  max-width: 1440px;
  height: 569px;
  background-color: #FFFFFF;
}
h2{
   margin-top: 120px;
   font-size: 40px;
   font-weight: 500;
   font-family: 'Roboto';
   text-align: center;
}
.container>hr{
     margin-top: 20px;
     width: 100px;
     height: 4px;
     background-color: #F5BD41;
}
.wrapper{
    margin-top: 82px;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     margin-left: 104px;
     margin-right: 104px;
}
.reviews,.booking,.communication,.support{
     width: 296px;
     height: 176px;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
     
}
.wrapper_img{
     width: 100px;
     height: 100px;
}
.support>img{
     width: 75px;
     height: 91.67px;
}
.communication>img{
     width: 83.33px;
     height: 83.33px;
}
.booking>img{
     width: 100px;
     height: 66.67px; 
}
.reviews>img{
     width: 91.67px;
     height: 83.33px;
}


